@use "partials/reset";
@use "partials/font";
@use "partials/base";
@use "partials/variables";

@use "layout/header";
@use "layout/footer";

@use "pages/home";
@use "pages/about";
@use "pages/products";

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: variables.$font;
    overflow-x: hidden;
}

input, button, textarea, select {
    outline: none;
    border: none;
    font-family: inherit;
}

a {
    text-decoration: none;
}